{% extends "header.html" %} {% block main %}

<section>
  <div class="nav">
    <div class="logo"><h3>Social Media</h3></div>

    <div class="navbar">
      <ul>
        <li><a class="nav_link" href="{% url 'home' %}">Home</a></li>

        {% if request.user.is_authenticated %}
        <li><a class="nav_link" href="{% url 'profile' %}">Profile</a></li>
        <li><a class="nav_link" href="{% url 'logout' %}">Logout</a></li>
        <li><a class="nav_link" href="#">{{ request.user.username}}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>
{% block postcontent %} {% endblock postcontent %} {% endblock main %}
